$dataColor: yellow;

body {
	background-color: #333;
	color: #ccc;
	font-family: sans-serif;
	padding: 1rem;

	.App {

		main {
			display: flex;
			gap: 1rem;

			section.controlArea {
				width: 30rem;

				h1 {
					margin: 0 0 1rem 0;
				}

				div.data {
					background-color: #434343;
					margin: 0 0 1rem 0;
					padding: 1rem;
					border-radius: .5rem;

					label {
						margin: 0 0 .5rem 0;
						display: block;
					}

					input {
						width: 98%;
						display: block;
					}

					button {
						margin: 0 .2rem .2rem 0;
					}
				}
			}

			section.dataArea {
				h2 {
					margin: 0 0 1rem 0;
				}

				.infoBox {
					background-color: #777;
					padding: 1rem;
					width: 28rem;
					border-radius: 1rem;
					color: #222;

					label {
						font-weight: bold;
					}

					.theValue {
						color: $dataColor;
					}

					div.row {
						margin: 0 0 .5rem 0;

						ul {
							margin: .5rem 0 0 -.5rem;

							li {
								color: $dataColor;
							}
						}

						.spinner {
							font-size: 2rem;
							color: #444;
							animation: spin infinite 2s linear;
						}

						@keyframes spin {
							from {
								transform: rotate(0deg);
							}

							to {
								transform: rotate(360deg);
							}
						}
					}
				}
			}
		}
	}
}